body {
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
  }

  ul.libro-lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .libro-header, .libro-item {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .libro-header {
    font-weight: bold;
    border-bottom: 2px solid #FEAF00;
  }

  .acciones {
    display: flex;
    gap: 8px;
  }

  .acciones button {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
  }

  .editarbtn i, .eliminarbtn i, .buscarbtn i {
    font-size: 18px;
    font-weight: 400;
  }

  .editarbtn i { 
    color: #00C7BE;
  }
  .eliminarbtn i {
    color: #B3261E
  }

  .cabecera {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
    gap: 1rem;
  }

  .crearbtn {
    width: 160px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 800;
    border: 2px solid #2ED573;
    cursor: pointer;
  }

  .buscar-frame {
    position: relative;
  }

  .cabecera input {
    width: 370px;
    height: 30px; 
    border-radius: 10px;
    padding: 1px 6px 1px 40px;
    border: 2px solid #FEAF00;

  }

  .cabecera input::placeholder {
    padding-left: 30px;
  }

  .buscarbtn {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .buscarbtn i {
    color: black;
  }

  .limpiarbtn {
  position: absolute;
  top: 50%;
  left: 40px; /* Ajusta si se superpone al icono de buscar */
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.limpiarbtn i {
  color: black;
  font-size: 18px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}